@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap'); // Montserrat

@font-face {
  font-family: SFProDisplay;
  src: url('/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF');
}

html, 
body {
  font-family: 'SFProDisplay', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  background-color: #2f2f2f;
  color: rgb(108, 108, 108);
}

a {
  text-decoration: none;
  color: rgb(108, 108, 108);
}

header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin: 0;
  background-color: #1f1f1f;
  border-bottom: #000000 2px solid;

  h1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }

  button {
    font-family: 'SFProDisplay', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    background: #1f1f1f;
    color: rgb(108, 108, 108);
    position: absolute;
    left: 80%;
    border-radius: 10px;
    padding: 5px 10px;
  }
}

footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1f1f1f;
  border-top: #000000 2px solid;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.container-inside {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 60%;
  height: 700px;
  position: relative;
  border: #242424 5px solid;
  overflow: scroll;

  ::-webkit-scrollbar {
    display: none;
    background-color: red;
  }
}

.footer-container {
  margin-left: 200px;
}

.example-image {
  width: 250px;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}


// ProductCard

.product-card {
  width: 290px;
  height: 290px;
  background-color: #909090;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-image: radial-gradient(#4c4c4c, #2f2f2f);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.product-card:hover {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}


// buttons

button {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
  width: 700px;
}

.btn-3d {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 20px 60px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  background-color: green;
}

.btn-3d:active {
  top: 9px;
}

.btn-3d.green {
  background-color: #82c8a0;
  box-shadow: 0 0 0 1px #82c8a0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 rgba(126, 194, 155, .7),
        0 8px 0 1px rgba(0,0,0,.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}

.btn-3d.green:active {
  box-shadow: 0 0 0 1px #82c8a0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.green:hover  {background-color: #80c29b;}


.btn-3d.red {
  background-color: #e74c3c;
  box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
        0 8px 8px 1px rgba(0,0,0,0.5);
}

.btn-3d.red:active {
  box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.btn-3d.red:hover    {background-color: #df4b3a;}


// arrow buttons

.arrow-btn {
  width: 150px;
  height: 150px;
  padding: 10px 25px;
  border: 2px solid #000;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 64px;
  border-radius: 20px;
}

.btn-up {
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-up:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.btn-up:hover {
  color: #000;
}
.btn-up:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-up:active {
  top: 2px;
}


.btn-down {
  background: #000;
  color: #fff;
  z-index: 1;
}
.btn-down:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
   background: #e0e5ec;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.btn-down:hover {
  color: #000;
}
.btn-down:hover:after {
  top: 0;
  height: 100%;
}
.btn-down:active {
  top: 2px;
}


// ProductPage

.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(#3a3a3a, #2f2f2f 70%)
}


// Home page side buttons

.home-page-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-side button {
}

.treadmill-button {
  width: 100px;
  height: 100px;
  background-color: rgb(79, 79, 79);
  border-radius: 50%;
  border: rgb(18, 18, 18) solid 10px;
  position: absolute;
  top: 14%;
  transform: translate(-50%);
}

.treadmill-button img {
  width: 50px;
}


// Cart Page

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-cart-card {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  border-bottom: rgb(89, 89, 89) 2px solid;
  padding: 30px 0;

  img {
    width: 140px;
    height: 100px;
  }
}


// Payment Page

.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-page-container {
  width: 1000px;
  height: 700px;
  border-left: rgb(61, 61, 61) 3px solid;
  border-right: rgb(61, 61, 61) 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    position: absolute;
    top: 30%;
  }

  button {
    font-family: 'SFProDisplay', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: #032a45;
    width: 250px;
    height: 250px;
    padding: 50px;
    background: rgb(107, 138, 171);
    border-radius: 25px;
    margin: 50px;
  }
}